body {
  background: #f5f5f5;
}

.card {
  position: absolute;
  margin: auto;
  display: flex;
  flex-direction: column;
  left: 0;
  right: 0;
  margin: auto;
  margin-top: 50px;
  text-align: center;
  background-color: white;
  border-radius: 15px;
  padding: 15px;
  width: 500px;
  align-items: center;
  justify-content: center;
  padding: 15px;
}

.title {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 35px;
}

.accent {
  color: #e33940;
}

.text {
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 128%;
  text-align: center;
  letter-spacing: 0.03em;
  margin: 10px 0 35px 0;
}

.input {
  width: 400px;
  background-color: white;
  border-radius: 10px;
  box-shadow: -1px -1px 2px 1px rgba(59, 58, 57, 0.07), 1px 1px 2px 1px rgba(59, 58, 57, 0.07);
  padding: 10px;
  margin: auto;
  margin-top: 15px;

  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 180%;
  letter-spacing: 0.5px;
  color: #808080;
}
input {
  outline: none;
  border: 0;
  width: 100%;
}

.underline-end {
  display: flex;
  width: 83%;
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  text-align: center;
  letter-spacing: 0.5px;
  text-decoration-line: underline;
  margin-bottom: 15px;
  color: #3b3a39;
  justify-content: end;
}

.btn {
  width: 320px;
  height: 45px;
  color: white;
  border-radius: 5px;
  font-family: 'Lato', sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  cursor: pointer;
  position: relative;
  display: inline-block;
  outline: none;
  background: #e9666a;
  border-radius: 10px;
  border: none;
}

.btn:disabled {
  border: 3px solid #e9666a;
  background: #e77175;
}
.btn p {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.google {
  margin: 0;
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.5px;
  color: #3b3a39;
  margin: 5px 0 20px 0;
}

img {
  width: 20px;
  height: 20px;
}

.image {
  display: flex;
  padding: 16px;
  justify-content: center;
  margin: auto;
  width: 20px;
  background: #ffffff;
  border: 1px solid #f2f2f2;
  border-radius: 32px;
  cursor: pointer;
}

.logo img {
  width: 120px;
  height: 120px;
  padding: 0;
  margin: 0;
}
.logo {
  width: 100%;
  height: 100%;
}
