.darkBG {
  background-color: rgba(0, 0, 0, 0.2);
  width: 100vw;
  height: 100vh;
  z-index: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}

.centered {
  position: fixed;
  top: 30%;
  /* left: 50%; */
  /* transform: translate(-50%, -50%); */
}

.modal {
  width: 819px;
  height: 175.5px;
  background: white;
  z-index: 10;
  border-radius: 16px;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.04);
}

.modalContent {
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  font-size: 14px;
  text-align: center;
  font-family: 'Lato', serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
}

.modalActions {
  position: absolute;
  bottom: 2px;
  margin-bottom: 10px;
  width: 100%;
}

.actionsContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.okBtn {
  width: 304px;
  height: 48px;
  margin-top: 10px;
  cursor: pointer;
  font-weight: 500;
  font-family: 'Lato', serif;
  padding: 11px 28px;
  border-radius: 12px;
  font-size: 0.8rem;
  border: none;
  color: #fff;
  background: #e33940;
  transition: all 0.25s ease;
}
